#logo-block {list-style-type: none; list-style: none;}
#logo-block li {list-style-type: none; list-style: none; float: left; display: inline-block; margin: 0; padding: 0;}
#logo-block li img {margin: 0; border: 0; box-shadow: none;}
